.grid {
	border: 1px solid rgba(0, 0, 0, 0.8); 
	border-radius:50px;
	background-color: white; 
}
.input {
	height: 38px;
}
.btn {
	vertical-align: top;
}
#puissance {
	text-align: center;
	background-color: #4C4CFF; 	
}

body{
	text-align: center;
}

select {
	height: 38px;
}
